# Configuration file

##########################################################################################################
# ColorToBiomeMappings
#--------------------------------------------------------------------------------------------------------#
# Mappings from biome's registry name to the RGB color value.
# Specified as hex values, without the leading '0x'.
# To find out the biome registry names, you can use for example:
# 1) The TellMe mod (the command '/tellme dump biomes' will write them to a file in config/tellme/)
# 2) The mod MiniHUD (version 0.10.0 or later) to see the registry name of the biome you are currently in
##########################################################################################################

ColorToBiomeMappings {
    # Biome: advancedrocketry:alien_forest, ID: 64 (Color as int: 4194304)
    S:"advancedrocketry:alien_forest"=400000

    # Biome: advancedrocketry:crystalchasms, ID: 68 (Color as int: 4456448)
    S:"advancedrocketry:crystalchasms"=440001

    # Biome: advancedrocketry:deepswamp, ID: 69 (Color as int: 4521984)
    S:"advancedrocketry:deepswamp"=450000

    # Biome: advancedrocketry:hotdryrock, ID: 65 (Color as int: 4259840)
    S:"advancedrocketry:hotdryrock"=410000

    # Biome: advancedrocketry:marsh, ID: 70 (Color as int: 4587520)
    S:"advancedrocketry:marsh"=460000

    # Biome: advancedrocketry:moon, ID: 63 (Color as int: 4128768)
    S:"advancedrocketry:moon"=3F0000

    # Biome: advancedrocketry:moondark, ID: 72 (Color as int: 4718592)
    S:"advancedrocketry:moondark"=480000

    # Biome: advancedrocketry:oceanspires, ID: 71 (Color as int: 4653056)
    S:"advancedrocketry:oceanspires"=470000

    # Biome: advancedrocketry:space, ID: 66 (Color as int: 4325376)
    S:"advancedrocketry:space"=420000

    # Biome: advancedrocketry:stormland, ID: 67 (Color as int: 4390912)
    S:"advancedrocketry:stormland"=430001

    # Biome: advancedrocketry:volcanic, ID: 73 (Color as int: 4784128)
    S:"advancedrocketry:volcanic"=490000

    # Biome: advancedrocketry:volcanicbarren, ID: 74 (Color as int: 4849664)
    S:"advancedrocketry:volcanicbarren"=4A0000

    # Biome: biometweaker:beta_savanna_plus, ID: 80 (Color as int: 4390912)
    S:"biometweaker:beta_savanna_plus"=430000

    # Biome: biometweaker:beta_swampland_plus, ID: 81 (Color as int: 4456448)
    S:"biometweaker:beta_swampland_plus"=440000

    # Biome: buildcraftenergy:oil_desert, ID: 41 (Color as int: 2686976)
    S:"buildcraftenergy:oil_desert"=290000

    # Biome: buildcraftenergy:oil_ocean, ID: 40 (Color as int: 2621440)
    S:"buildcraftenergy:oil_ocean"=280000

    # Biome: dimdoors:black_void, ID: 77 (Color as int: 4194304)
    S:"dimdoors:black_void"=400000

    # Biome: dimdoors:dangerous_black_void, ID: 78 (Color as int: 4259840)
    S:"dimdoors:dangerous_black_void"=410000

    # Biome: dimdoors:limbo, ID: 75 (Color as int: 4063232)
    S:"dimdoors:limbo"=3E0000

    # Biome: dimdoors:white_void, ID: 76 (Color as int: 4128768)
    S:"dimdoors:white_void"=3F0000

    # Biome: minecraft:beaches, ID: 16 (Color as int: 16440917)
    S:"minecraft:beaches"=FADE55

    # Biome: minecraft:birch_forest, ID: 27 (Color as int: 3175492)
    S:"minecraft:birch_forest"=307444

    # Biome: minecraft:birch_forest_hills, ID: 28 (Color as int: 2055986)
    S:"minecraft:birch_forest_hills"=1F5F32

    # Biome: minecraft:cold_beach, ID: 26 (Color as int: 16445632)
    S:"minecraft:cold_beach"=FAF0C0

    # Biome: minecraft:deep_ocean, ID: 24 (Color as int: 48)
    S:"minecraft:deep_ocean"=000030

    # Biome: minecraft:desert, ID: 2 (Color as int: 16421912)
    S:"minecraft:desert"=FA9418

    # Biome: minecraft:desert_hills, ID: 17 (Color as int: 13786898)
    S:"minecraft:desert_hills"=D25F12

    # Biome: minecraft:extreme_hills, ID: 3 (Color as int: 6316128)
    S:"minecraft:extreme_hills"=606060

    # Biome: minecraft:extreme_hills_with_trees, ID: 34 (Color as int: 5271632)
    S:"minecraft:extreme_hills_with_trees"=507050

    # Biome: minecraft:forest, ID: 4 (Color as int: 353825)
    S:"minecraft:forest"=056621

    # Biome: minecraft:forest_hills, ID: 18 (Color as int: 2250012)
    S:"minecraft:forest_hills"=22551C

    # Biome: minecraft:frozen_ocean, ID: 10 (Color as int: 9474208)
    S:"minecraft:frozen_ocean"=9090A0

    # Biome: minecraft:frozen_river, ID: 11 (Color as int: 10526975)
    S:"minecraft:frozen_river"=A0A0FF

    # Biome: minecraft:hell, ID: 8 (Color as int: 16711680)
    S:"minecraft:hell"=FF0000

    # Biome: minecraft:ice_flats, ID: 12 (Color as int: 16777215)
    S:"minecraft:ice_flats"=FFFFFF

    # Biome: minecraft:ice_mountains, ID: 13 (Color as int: 10526880)
    S:"minecraft:ice_mountains"=A0A0A0

    # Biome: minecraft:jungle, ID: 21 (Color as int: 5470985)
    S:"minecraft:jungle"=537B09

    # Biome: minecraft:jungle_edge, ID: 23 (Color as int: 6458135)
    S:"minecraft:jungle_edge"=628B17

    # Biome: minecraft:jungle_hills, ID: 22 (Color as int: 2900485)
    S:"minecraft:jungle_hills"=2C4205

    # Biome: minecraft:mesa, ID: 37 (Color as int: 14238997)
    S:"minecraft:mesa"=D94515

    # Biome: minecraft:mesa_clear_rock, ID: 39 (Color as int: 13274213)
    S:"minecraft:mesa_clear_rock"=CA8C65

    # Biome: minecraft:mesa_rock, ID: 38 (Color as int: 11573093)
    S:"minecraft:mesa_rock"=B09765

    # Biome: minecraft:mushroom_island, ID: 14 (Color as int: 16711935)
    S:"minecraft:mushroom_island"=FF00FF

    # Biome: minecraft:mushroom_island_shore, ID: 15 (Color as int: 10486015)
    S:"minecraft:mushroom_island_shore"=A000FF

    # Biome: minecraft:mutated_birch_forest, ID: 155 (Color as int: 5807212)
    S:"minecraft:mutated_birch_forest"=589C6C

    # Biome: minecraft:mutated_birch_forest_hills, ID: 156 (Color as int: 4687706)
    S:"minecraft:mutated_birch_forest_hills"=47875A

    # Biome: minecraft:mutated_desert, ID: 130 (Color as int: 16759872)
    S:"minecraft:mutated_desert"=FFBC40

    # Biome: minecraft:mutated_extreme_hills, ID: 131 (Color as int: 8947848)
    S:"minecraft:mutated_extreme_hills"=888888

    # Biome: minecraft:mutated_extreme_hills_with_trees, ID: 162 (Color as int: 7903352)
    S:"minecraft:mutated_extreme_hills_with_trees"=789878

    # Biome: minecraft:mutated_forest, ID: 132 (Color as int: 2985545)
    S:"minecraft:mutated_forest"=2D8E49

    # Biome: minecraft:mutated_ice_flats, ID: 140 (Color as int: 11853020)
    S:"minecraft:mutated_ice_flats"=B4DCDC

    # Biome: minecraft:mutated_jungle, ID: 149 (Color as int: 8102705)
    S:"minecraft:mutated_jungle"=7BA331

    # Biome: minecraft:mutated_jungle_edge, ID: 151 (Color as int: 9089855)
    S:"minecraft:mutated_jungle_edge"=8AB33F

    # Biome: minecraft:mutated_mesa, ID: 165 (Color as int: 16739645)
    S:"minecraft:mutated_mesa"=FF6D3D

    # Biome: minecraft:mutated_mesa_clear_rock, ID: 167 (Color as int: 15905933)
    S:"minecraft:mutated_mesa_clear_rock"=F2B48D

    # Biome: minecraft:mutated_mesa_rock, ID: 166 (Color as int: 14204813)
    S:"minecraft:mutated_mesa_rock"=D8BF8D

    # Biome: minecraft:mutated_plains, ID: 129 (Color as int: 11918216)
    S:"minecraft:mutated_plains"=B5DB88

    # Biome: minecraft:mutated_redwood_taiga, ID: 160 (Color as int: 8490617)
    S:"minecraft:mutated_redwood_taiga"=818E79

    # Biome: minecraft:mutated_redwood_taiga_hills, ID: 161 (Color as int: 7173990)
    S:"minecraft:mutated_redwood_taiga_hills"=6D7766

    # Biome: minecraft:mutated_roofed_forest, ID: 157 (Color as int: 6846786)
    S:"minecraft:mutated_roofed_forest"=687942

    # Biome: minecraft:mutated_savanna, ID: 163 (Color as int: 15063687)
    S:"minecraft:mutated_savanna"=E5DA87

    # Biome: minecraft:mutated_savanna_rock, ID: 164 (Color as int: 13616524)
    S:"minecraft:mutated_savanna_rock"=CFC58C

    # Biome: minecraft:mutated_swampland, ID: 134 (Color as int: 3145690)
    S:"minecraft:mutated_swampland"=2FFFDA

    # Biome: minecraft:mutated_taiga, ID: 133 (Color as int: 3378817)
    S:"minecraft:mutated_taiga"=338E81

    # Biome: minecraft:mutated_taiga_cold, ID: 158 (Color as int: 5864818)
    S:"minecraft:mutated_taiga_cold"=597D72

    # Biome: minecraft:ocean, ID: 0 (Color as int: 112)
    S:"minecraft:ocean"=000070

    # Biome: minecraft:plains, ID: 1 (Color as int: 9286496)
    S:"minecraft:plains"=8DB360

    # Biome: minecraft:redwood_taiga, ID: 32 (Color as int: 5858897)
    S:"minecraft:redwood_taiga"=596651

    # Biome: minecraft:redwood_taiga_hills, ID: 33 (Color as int: 4542270)
    S:"minecraft:redwood_taiga_hills"=454F3E

    # Biome: minecraft:river, ID: 7 (Color as int: 255)
    S:"minecraft:river"=0000FF

    # Biome: minecraft:roofed_forest, ID: 29 (Color as int: 4215066)
    S:"minecraft:roofed_forest"=40511A

    # Biome: minecraft:savanna, ID: 35 (Color as int: 12431967)
    S:"minecraft:savanna"=BDB25F

    # Biome: minecraft:savanna_rock, ID: 36 (Color as int: 10984804)
    S:"minecraft:savanna_rock"=A79D64

    # Biome: minecraft:sky, ID: 9 (Color as int: 8421631)
    S:"minecraft:sky"=8080FF

    # Biome: minecraft:smaller_extreme_hills, ID: 20 (Color as int: 7501978)
    S:"minecraft:smaller_extreme_hills"=72789A

    # Biome: minecraft:stone_beach, ID: 25 (Color as int: 10658436)
    S:"minecraft:stone_beach"=A2A284

    # Biome: minecraft:swampland, ID: 6 (Color as int: 522674)
    S:"minecraft:swampland"=07F9B2

    # Biome: minecraft:taiga, ID: 5 (Color as int: 747097)
    S:"minecraft:taiga"=0B6659

    # Biome: minecraft:taiga_cold, ID: 30 (Color as int: 3233098)
    S:"minecraft:taiga_cold"=31554A

    # Biome: minecraft:taiga_cold_hills, ID: 31 (Color as int: 2375478)
    S:"minecraft:taiga_cold_hills"=243F36

    # Biome: minecraft:taiga_hills, ID: 19 (Color as int: 1456435)
    S:"minecraft:taiga_hills"=163933

    # Biome: minecraft:void, ID: 127 (Color as int: 0)
    S:"minecraft:void"=000000

    # Biome: mocreatures:wyvern_desert_isles, ID: 43 (Color as int: 2818048)
    S:"mocreatures:wyvern_desert_isles"=2B0000

    # Biome: mocreatures:wyvern_isles, ID: 42 (Color as int: 2752512)
    S:"mocreatures:wyvern_isles"=2A0000

    # Biome: modernbetaforge:alpha, ID: 59 (Color as int: 3866624)
    S:"modernbetaforge:alpha"=3B0000

    # Biome: modernbetaforge:alpha_winter, ID: 60 (Color as int: 3932160)
    S:"modernbetaforge:alpha_winter"=3C0000

    # Biome: modernbetaforge:beta_beach, ID: 57 (Color as int: 3735552)
    S:"modernbetaforge:beta_beach"=390000

    # Biome: modernbetaforge:beta_desert, ID: 47 (Color as int: 3080192)
    S:"modernbetaforge:beta_desert"=2F0000

    # Biome: modernbetaforge:beta_forest, ID: 51 (Color as int: 3342336)
    S:"modernbetaforge:beta_forest"=330000

    # Biome: modernbetaforge:beta_frozen_ocean, ID: 56 (Color as int: 3670016)
    S:"modernbetaforge:beta_frozen_ocean"=380000

    # Biome: modernbetaforge:beta_ice_desert, ID: 44 (Color as int: 2883584)
    S:"modernbetaforge:beta_ice_desert"=2C0000

    # Biome: modernbetaforge:beta_ocean, ID: 55 (Color as int: 3604480)
    S:"modernbetaforge:beta_ocean"=370000

    # Biome: modernbetaforge:beta_plains, ID: 52 (Color as int: 3407872)
    S:"modernbetaforge:beta_plains"=340000

    # Biome: modernbetaforge:beta_rainforest, ID: 54 (Color as int: 3538944)
    S:"modernbetaforge:beta_rainforest"=360000

    # Biome: modernbetaforge:beta_savanna, ID: 46 (Color as int: 3014656)
    S:"modernbetaforge:beta_savanna"=2E0000

    # Biome: modernbetaforge:beta_seasonal_forest, ID: 53 (Color as int: 3473408)
    S:"modernbetaforge:beta_seasonal_forest"=350000

    # Biome: modernbetaforge:beta_shrubland, ID: 50 (Color as int: 3276800)
    S:"modernbetaforge:beta_shrubland"=320000

    # Biome: modernbetaforge:beta_snowy_beach, ID: 58 (Color as int: 3801088)
    S:"modernbetaforge:beta_snowy_beach"=3A0000

    # Biome: modernbetaforge:beta_swampland, ID: 48 (Color as int: 3145728)
    S:"modernbetaforge:beta_swampland"=300000

    # Biome: modernbetaforge:beta_taiga, ID: 49 (Color as int: 3211264)
    S:"modernbetaforge:beta_taiga"=310000

    # Biome: modernbetaforge:beta_tundra, ID: 45 (Color as int: 2949120)
    S:"modernbetaforge:beta_tundra"=2D0000

    # Biome: modernbetaforge:infdev_415, ID: 61 (Color as int: 3997696)
    S:"modernbetaforge:infdev_415"=3D0000

    # Biome: orbis:instanced_zone, ID: 62 (Color as int: 4063232)
    S:"orbis:instanced_zone"=3E0000

    # Biome: spectrite:spectrite_dungeon, ID: 79 (Color as int: 4325376)
    S:"spectrite:spectrite_dungeon"=420000
}


Generic {
    # Extra options for the ChunkProvider (used for FLAT and DEFAULT).
    S:chunkProviderOptions=

    # The ChunkProvider to use. Valid values: VANILLA_DEFAULT, VANILLA_FLAT, VANILLA_HELL, VANILLA_END
    S:chunkProviderType=

    # A list of dimensions where Painted Biomes should be enabled.
    I:enabledInDimensions <
        0
     >

    # Set to true to use an overridden ChunkProvider. Select the type in chunkProviderType.
    B:overrideChunkProvider=false

    # This only affects whether the missing ColorToBiomeMappings values, when initially added, use the custom colors
    # from Amidst, or if they just map the Biome ID to the red channel.
    # true = Use custom colors from Amidst as defaults, false = Map biome ID to red channel.
    B:useCustomColorsAsDefaults=true

    # Use biome GenLayer overrides instead of a WorldChunkManager wrapper.
    # This only works in the Overworld, and not with many custom WorldTypes.
    # This is the method used until and including the v0.3.0 release.
    B:useGenLayer=false
}


TemplateImage {
    # The maximum number of alternate templates to use.
    # NOTE: Especially with large images, the memory requirements can increase significantly!!
    I:maxAlternateTemplates=0

    # When using a single template image, how the template image is aligned in the world.
    # The alignment point is defined by templateAlignmentX and templateAlignmentZ.
    # 0 = centered, 1 = top left, 2 = top right, 3 = bottom right, 4 = bottom left.
    I:templateAlignmentMode=0

    # The world X coordinate where the selected point (templateAlignmentMode) of the template image is aligned.
    I:templateAlignmentX=0

    # The world Z coordinate where the selected point (templateAlignmentMode) of the template image is aligned.
    I:templateAlignmentZ=0

    # How to handle "undefined" (= completely transparent) areas within the template image area(s).
    # <empty or invalid biome registry name> = Use the biome from regular terrain generation
    # <a valid biome registry name> = the biome to use
    S:templateUndefinedAreaBiome=

    # Biome handling outside of the template image(s).
    # <empty or invalid biome registry name> = Use the biome from regular terrain generation
    # <a valid biome registry name> = the biome to use
    S:unpaintedAreaBiome=minecraft:void

    # Enable using randomly selected alternate templates (based on the world seed and the relative location).
    B:useAlternateTemplates=false

    # true = Use only one image template (biomes.png).
    # false = Use multiple image templates for different regions of the world (one image per region file, ie. a 512x512 block area).
    B:useSingleTemplateImage=true

    # Enable random flipping/mirroring of the template images (based on the world seed and the relative location).
    B:useTemplateRandomFlipping=false

    # Enable random rotation of the template images (based on the world seed and the relative location).
    B:useTemplateRandomRotation=false
}


##########################################################################################################
# TemplateRepeating
#--------------------------------------------------------------------------------------------------------#
# Template repeating options. Template repeating only works in the Single Template Image mode.
##########################################################################################################

TemplateRepeating {
    # Repeat the template image in the negative X direction.
    # 0 = disabled, 1 = repeat the entire template, 2 = repeat/continue the biome of the edge-most pixel of the template image
    I:repeatTemplateNegativeX=0

    # Repeat the template image in the negative Z direction.
    # 0 = disabled, 1 = repeat the entire template, 2 = repeat/continue the biome of the edge-most pixel of the template image
    I:repeatTemplateNegativeZ=0

    # Repeat the template image in the positive X direction.
    # 0 = disabled, 1 = repeat the entire template, 2 = repeat/continue the biome of the edge-most pixel of the template image
    I:repeatTemplatePositiveX=0

    # Repeat the template image in the positive Z direction.
    # 0 = disabled, 1 = repeat the entire template, 2 = repeat/continue the biome of the edge-most pixel of the template image
    I:repeatTemplatePositiveZ=0

    # Enable template repeating. Note that you have to also select the directions
    # that you want to repeat in and the repeating method.
    B:useTemplateRepeating=false
}


